site_name: OdinToolkits
site_description: OdinToolkits 的官方网站
site_author: Yuumi-Zeus
site_url: "https://www.odintoolkits.cn"
copyright: Copyright &copy; 2025 Yuumi-Zeus

# 仓库配置
repo_url: https://github.com/Yuumi-Zeus/yuumi-zeus.github.io # 右上角点击跳转的链接
repo_name: OdinToolkits Docs # 右上角的名字
edit_uri: edit/main/docs/

# 主题配置
theme:
  name: material
  custom_dir: overrides
  font:
    text: Merriweather Sans
    code: JetBrains Mono
  icon:
    repo: fontawesome/brands/github #右上角图标
    edit: material/pencil
    view: material/eye
  favicon: assets/images/HeadPicture256.png
  language: zh # 一些提示性的文字会变成中文
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: 关闭自动模式
      # primary: blue grey
    - media: "(prefers-color-scheme: light)"
      scheme: default # 日间模式
      primary: indigo # 上方的
      accent: indigo # 链接等可交互元件的高亮色
      # teal
      toggle:
        icon: material/weather-sunny # 图标
        name: 切换至夜间模式 # 鼠标悬浮提示
    - media: "(prefers-color-scheme: dark)"
      scheme: slate # 夜间模式
      primary: green
      accent: teal
      # teal
      toggle:
        icon: material/weather-night
        name: 切换至日间模式
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking #地址栏中的 URL 将自动更新为在目录中突出显示的活动锚点
    - navigation.tabs #顶级部分将呈现在上面视口标题下方的菜单层中，但在移动设备上保持原样
    # - navigation.tabs.sticky #启用粘性选项卡后，导航选项卡将锁定在标题下方，并在向下滚动时始终保持可见
    - navigation.sections #启用部分后，顶级部分在边栏中呈现为1220px以上视口的组，但在移动设备上保持原样
    - navigation.expand # 打开Tab时左侧目录全部展开
    # - navigation.prune 左侧目录导航修剪，与 expend 不兼容，当文档数量特别多时，左侧目录导航需要比较多的内容，开启这个可以加快速度
    - navigation.indexes #左侧目录章节索引
    - navigation.top # 返回顶部的按钮 在上滑时出现
    - navigation.footer #页脚将呈现在边栏中，但在移动设备上保持原样
    - toc.follow
    - search.suggest # 搜索输入一些字母时推荐补全整个单词
    - search.highlight # 搜索出的文章关键词加入高亮
    - search.share #搜索分享按钮
    - announce.dismiss #呈现可标记为由用户读取的临时公告，可以包含一个用于取消当前公告的按钮
    - content.tabs.link
    - content.tooltips
    - content.code.copy #代码复制
    - content.code.annotate
    - content.action.edit
    - content.action.view

plugins:
  - search
  - blog:
      enabled: true
      blog_dir: blog
      archive_date_format: yyyy/MM
      archive_url_date_format: yyyy/MM
      post_url_format: "{slug}"
      authors_file: "{blog}/.authors.yml"
      # blog_toc: false
      # post_dir: "{blog}/posts"
      # post_url_max_categories: 1
      # post_slugify_separator: "-"
      # post_excerpt_max_authors: 1
      # post_excerpt_max_categories: 5
      # post_excerpt_separator: <!-- more -->
      # post_readtime: true
      # post_readtime_words_per_minute: 265
      # archive: true
      # archive_name: Archive
      # archive_pagination: true
      # archive_pagination_per_page: 10
      # archive_toc: false
      # categories: true
      # categories_name: Categories
      # categories_slugify_separator: "-"
      # categories_pagination: true
      # categories_pagination_per_page: 10
      # categories_toc: false
      # authors: true
      # authors_file: "{blog/.authors.yml}"
      # authors_profiles: false
      # authors_profiles_name: Authors
      # authors_profiles_pagination: true
      # authors_profiles_pagination_per_page: 10
      # authors_profiles_toc: false
      # pagination: true
      # pagination_per_page: 10
      # pagination_keep_content: false
      # draft: false
      # draft_on_serve: true
      # draft_if_future_date: false
  - tags:
      tags_file: tags.md
  - rss:
      match_path: blog/posts/.*
      pretty_print: true
      date_from_meta:
        as_creation: date.created
        as_update: date.updated
  - git-revision-date-localized:
      type: date
      enable_creation_date: true
      fallback_to_build_date: true
      enabled: true
  - git-committers:
      enabled: !ENV [CI, false]
      repository: Yuumi-Zeus/yuumi-zeus.github.io
      token: !ENV GH_TOKEN # 从环境变量读取
      branch: main

# Markdown 扩展
markdown_extensions:
  # Python Markdown
  - tables
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: ⚓︎
  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.blocks.caption
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format:
            !!python/name:pymdownx.superfences.fence_code_format # 额外部分配置，包括 css，javascript，以及各种其他文件

extra_css:
  - https://static.zeoseven.com/zsft/292/main/result.css
  - stylesheets/extra.css

extra:
  social:
    - icon: simple/github
      link: https://github.com/Yuumi-Zeus

# 目录配置
nav:
  - 主页:
      - index.md
  - CHANGELOG:
      - CHANGELOG.md
  - 框架:
      - framework/index.md
  - 功能模块:
      - Tools:
          - GenerateTemplateCode: modules/tools/GenerateTemplateCode.md
          - QuickGenerateSO: modules/tools/QuickGenerateSO.md
      - Odin:
          - Attributes Analysis: modules/odin/OdinAttributeAnalysis.md
          - Customs Attributes:
              - SwitchButton: modules/odin/SwitchButtonAttribute.md
  - 第三方资源推荐:
      - thirdparty/index.md
  - 标签栏:
      - tags.md
  - 笔记博客:
      - blog/index.md
  - 留言板:
      - comments.md
